h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-black-1;
    font-weight: $fw-bold-1;
    margin: 0;
}

.container-fluid {
    padding: 0 30px;
}

@include responsive('medium') {
    .container-fluid {
        padding: 0 24px;
    }
}