.join {
    border: none;
    position: absolute;
    background: #1dbf73;
    color: white;
    border-radius: 5px;
    padding: 9px 27px;
}

/* The Modal (background) */
.join__modal {
    
    a {
        &:hover { 
        text-decoration: underline !important;
        }
    }
 

    text-align: center;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);

    /* Black w/ opacity */
    .join__close {
        display: none;
    }

    .join__content {
        box-shadow: 0 0 1px 0 black;
        position: relative;
        background-color: #fefefe;
        margin: auto;
       
        border: 1px solid #888;
        width: 400px;
        border-radius: 5px;
        .join__cover { 
            padding: 30px 30px 0px 30px;
        }
        h4 {
            font-size: 24px;
            margin-bottom: 50px;
            color: #404145;
        }

        .api button {
            color: #62646a;
            position: relative;
            justify-content: center;
            display: flex;
            background: #fff;
            border: 1px solid #e4e5e7;
            padding: 9px 30px 9px 16px;
            margin: 12px 0;
            width: 100%;
            border-radius: 4px;
            svg {
                left: 5%;
                position: absolute;

            }
        }
        button:nth-child(n+2) {
            &:hover {
                background: #fafafa;
            }
        }
        button:first-child {
            background: #4267b2;
            border: 1px solid #4267b2;
            color: white;
            &:hover {
                opacity: .9;
            }
            svg {
                fill: white;
            }
        }

        .join__separator {
            height: 12px;
            margin: 20px 0 32px;
            text-align: center;
            border-bottom: 1px solid #e4e5e7;

            span {
                background: white;
                color: #62646a;
                font-size: 16px;
                font-weight: 600;
                padding: 0 8px;
                line-height: 24px;
            }
        }

        .join__signup {
            .join__input {
                transition: all .5s;
                border-radius: 4px;
                border: 1px solid #c5c6c9;
                padding: 9px 30px 9px 16px;
                width: 100%;
                color: #404145;
                font-weight: 300;
                &:hover {
                    border: solid 1px black;
                }
                &:focus {
                    outline: none;
                    border: solid 1px black;
                    
                }
            }

            button {
                margin: 20px 0;
                width: 100%;
                color: white;
                border-radius: 4px;
                border: none;
                background: #1dbf73;
                padding: 9px 24px;
                &:hover {
                    background: #19a463;
                }
            }

            p {
                color: #62646a;
                font-size: 14px;
            }
            #password {
                margin-top: 20px;
            }
            #signIn__input {
                margin-bottom: 20px;
                color: #404145;
                font-size: 14px;
                font-weight: 300;
                justify-content: space-between;
                a {
                    color: #1dbf73;
                }
                #expect {
                    margin-right: 5px;
                }
            }
        }

        .join__footer {
            display: flex;
            justify-content: center;
            padding-top: 12px;
            ;
            border-top: 1px solid #e4e5e7;

            p {
                color: #62646a;
                font-weight: 300;
                font-size: 14px;
            }

            a {
                margin-left: 3px;
                font-weight: 300;
                font-size: 14px;
                color: #1dbf73;
            }

        }
}
}
a {
   
    cursor: pointer;
}
/* responsive  */
@media (max-width: 600px) {
    .join__content {
        width: 100% !important;
    }
}