.button__new {
    font-size: 10px;
    color: #ff62ad;
    border: 1px solid #ff62ad;
    padding: 3px 7px 2px;
    border-radius: 999px;
    font-weight: 500;
    line-height: 100%;
    margin-left: 6px;
}
.button__beta {

    font-size: 10px;
    color: #4a73e8;
    border: 1px solid #4a73e8;
    padding: 3px 7px 2px;
    border-radius: 999px;
    font-weight: 500;
    line-height: 100%;
    margin-left: 6px;
}