// variable color
$color-black-0: #62646a; // default
$color-black-1:#404145;
$color-black-2: #222325; //text header layout 2
$color-white-0: #fff; //default
$color-white-1:#d4defb; //bg hover
$color-green-1:#1dbf73; //button
$color-green-2:#19a463; //bg hover
$color-green-3:#003912; //text
$color-gray-1: #7a7d85; //text
$color-gray-2: #f5f5f5; //background2
$color-gray-3: #f1fdf7; //background1
$color-gray-4: #f7f7f7; //background layout 2
$color-gray-5: #555; //text layout 2
$color-gray-6: #62646a; //text layout 2
$color-blue-1:#0d084d;
$color-blue-2:#4a73e8;
$color-yellow-1: #ffc100; //text layout 2
$color-trans:transparent;
// variable font-size
$fs-0: 16px; //default
$fs-1: 14px;
$fs-2: 20px;
$fs-3: 28px;
$fs-4: 32px;
//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;
//variable border-radius
$border-radius: 2px;
//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 35px;
//variable line-height
$line-height-0: 1.43; //default
//variable font-weight
$fw-normal: 400;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;
//break points
$breakpoints:( 'extra-large': 1200px, 'large': 992px, 'medium': 768px, 'small': 576px, )